body {
    background-color: white ;
    font-family: 'Wide Latin';
}
@font-face {
    font-family: 'Wide Latin';
    font-style: normal;
    font-weight: normal;
    src: local('Wide Latin'), url('/fonts/LATINWD.woff') format('woff');
    }
    h1 {
        font-size: 60px;
    }